Support for 'empty non terminals'

It seems like the library fails to validate the chain of trust when there are "gaps" in the DNSSEC trust chain.

> After investigating this, it would appear that the library that you’re using makes the assumption that each label is also a delegation for the purposes of validation, and expects there to be a delegation in the sch.uk zone to cumbria.sch.uk. 

Nominet only permits registrations in the sch.uk zone at the 4th level, and this causes the 3rd level to exist for the sole purpose of supporting those delegations in the 4th level. 

These entries in the 3rd level, are not delegations in their own right, and as no resource records exist at that point in the hierarchy, they are known as empty non-terminals. 

Empty non terminals are an edge case that isn’t well covered in RFC5155 for the purposes of validation of non-existence with NSEC3, but helpfully are clarified in section 6.4 of RFC 6840 [1] and also in sections 5 [2], and 5.1 [3] of RFC 7129. 

All of our DNS zones are validated on a regular basis using validns [4] to ensure there are no problems with the data or signatures, and I’ve also conducted extra validation checks using DNSViz [5] and Verisign’s DNSSEC Debugger [6]. 

In particular, DNSViz presents the chain of trust in a lovely graphical manner, and hovering over the NSEC3 box between sch.uk and jericho.cumbria.sch.uk shows the validation of non-existence of jericho.cumbria.sch.uk/DS 

Lastly, I have taken an unsigned copy of the sch.uk zone and signed it offline in a lab environment, and get the same resulting records. 

[1] RFC 6840 - Clarifications and Implementation Notes for DNS Security (DNSSEC) 
    https://tools.ietf.org/html/rfc6840#section-6.4 - Section 6.4 - Errors in RFC 5155 

[2] RFC 7129 - Authenticated Denial of Existence in the DNS 
    https://tools.ietf.org/html/rfc7129#section-5 - Section 5 – NSEC3 

[3] RFC 7129 - Authenticated Denial of Existence in the DNS 
    https://tools.ietf.org/html/rfc7129#section-5.1 - Section 5.1 - Opt-out 

[4] http://www.validns.net 

[5] DNSViz 
    http://dnsviz.net/d/jericho.cumbria.sch.uk/dnssec/ 

[6] Verisign DNSSEC Debugger 
    http://dnssec-debugger.verisignlabs.com/jericho.cumbria.sch.uk 

The key phrase here is: "Empty non terminals are an edge case that isn’t well covered in RFC5155 for the purposes of validation of non-existence with NSEC3, but helpfully are clarified in section 6.4 of RFC 6840 [1] and also in sections 5 [2], and 5.1 [3] of RFC 7129." 

Other DNSSEC libraries (https://www.nlnetlabs.nl/projects/ldns/) handle this by actively looking for the delegation point by querying for an NS record at each level - like this: 

$ drill -k /tmp/rootkey -DTV0 remote.jericho.cumbria.sch.uk CAA @8.8.8.8 
;; Number of trusted keys: 3 
;; Domain: . 
[T] . 172800 IN DNSKEY 257 3 8 ;{id = 19036 (ksk), size = 2048b} 
. 172800 IN DNSKEY 257 3 8 ;{id = 20326 (ksk), size = 2048b} 
. 172800 IN DNSKEY 256 3 8 ;{id = 46809 (zsk), size = 2048b} 
[T] uk. 86400 IN DS 43876 8 2 a107ed2ac1bd14d924173bc7e827a1153582072394f9272ba37e2353bc659603 
;; Domain: uk. 
[T] uk. 3600 IN DNSKEY 257 3 8 ;{id = 43876 (ksk), size = 2048b} 
uk. 3600 IN DNSKEY 256 3 8 ;{id = 43056 (zsk), size = 1024b} 
[T] sch.uk. 300 IN DS 10434 8 2 a14d8b342f1bed485440d0ae8de4f743cc2d67bd3eec39197d57ba094698599d 
;; Domain: sch.uk. 
[T] sch.uk. 300 IN DNSKEY 256 3 8 ;{id = 10434 (zsk), size = 1024b} 
[T] Existence denied: cumbria.sch.uk. DS 
[T] Existence denied: cumbria.sch.uk. NS 
;; There is an empty non-terminal here, continue 
;; Domain: jericho.cumbria.sch.uk. 
;; No DNSKEY record found for jericho.cumbria.sch.uk. 
;; No DS for remote.jericho.cumbria.sch.uk.;; Domain: remote.jericho.cumbria.sch.uk. 
;; No DNSKEY record found for remote.jericho.cumbria.sch.uk. 
[U] No data found for: remote.jericho.cumbria.sch.uk. type CAA 
;;[S] self sig OK; [B] bogus; [T] trusted

testDsNoDataWhenNsecProvesDs is failing. Expected `validate.bogus.badkey:sub.ingotronic.ch.:failed.ds.nsec.hasdata` but got `validate.bogus.badkey:sub.ingotronic.ch.:failed.ds.nsec`.

This should fix your ENT issue: https://github.com/ibauersachs/dnssecjava/pull/18